<head>
<link rel="canonical" href="{{ .Site.BaseURL }}">
<link rel="alternate" type="application/rss+xml" title="{{ .Site.Title }} RSS" href='{{ absURL "/index.xml" }}'>
<link rel="stylesheet" type="text/css" media="screen" href='{{ absURL "/style.css" }}'>
<link rel="stylesheet" type="text/css" href='{{ absURL "/lugo.css" }}'>
{{ with .Site.Params.favicon }}<link rel="icon" href="{{ . }}">{{ end -}}
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="robots" content="index, follow">
<meta charset="utf-8">
<title>{{ if not .IsHome }}{{ .Title | title }} | {{ end }}{{ .Site.Title }}</title>
<meta name="description" content="{{ with .Params.description }}{{ . }}{{ else }}{{ .Summary }}{{ end }}">
<meta property="og:title" content="{{ if not .IsHome }}{{ .Title | title }} | {{ end }}{{ .Site.Title }}">
<meta property="og:site_name" content="{{ .Site.Title }}">
<meta property="og:description" content="{{ with .Params.description }}{{ . }}{{ else }}{{ .Summary }}{{ end }}">
<meta property="og:type" content='{{ if .IsHome }}{{ "website" }}{{ else }}{{ "article" }}{{ end }}'>
<meta property="og:locale" content="{{ .Site.LanguageCode }}">
<meta property="og:image" content="<page-image-url>">
{{ if isset .Params "tags" }}
<meta name="keywords" content="{{ with .Params.tags }}{{ delimit . " , " }}{{ end }}">
{{ end -}}

{{ if isset .Params "redirect" }}
<meta http-equiv="refresh" content="2; URL={{ with .Params.redirect }}{{ . }}{{ end }}">
{{ end -}}
</head>