:root {
    --bg: #222222;
    --bg-text: #606060;
    --text: #ffffff;
    --header: #454545;
    --header-text: #707070;
    --content-bg: #303030;
    --accent: #344a70;
    --link: #3e765d;
    --radius: 0.75rem;
}

.copy:hover {
    color: var(--accent);
    cursor: copy;
}

::-webkit-scrollbar {
	width: 0;
}

body {
    background-color: var(--bg);
    color: var(--text);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    font-size: x-large;
}

header {
    background-color: var(--accent);
    margin-top: 0;
    margin-left: 0;
    text-align: center;
    padding: 0.75rem;
    font-size: xx-large;
}

.article-header {
    background-color: var(--header);
    color: var(--header-text);
}

section {
    border-radius: var(--radius);
    margin: 2rem;
    overflow: hidden;
}

.spaced {
    margin: 0;
    padding: 1rem;
}

article {
    background-color: var(--content-bg);
    padding: 1.5rem;
    text-align: left;
}

hr {
    margin: 2rem;
    height: 1px;
    border: 0;
    border-top: 1px solid var(--header);
    height: 1px;
}

footer {
    color: var(--bg-text);
    text-align: center;
}

p {
    margin: 1rem;
}

h1,h2,h3,h4,h5,h6 {
    margin: 1rem;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 3rem;
}

article h1 {
    margin-bottom: 1rem;
}

a {
    color: var(--link);
}

a:hover {
    color: var(--accent);
    text-decoration-line: none;
}

header a {
    color: inherit;
    text-decoration-line: none;
    font-weight: bold;
}

header a:hover {
    font-weight: bold;
    color: inherit
}

main {
    max-width: 80%;
}

@media screen and (max-width: 1500px) {
main {
    max-width: 100%;
    margin: auto;
}
}